.todo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 16px;
  margin: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
  cursor:grab;
}

.todo-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.todo-card-title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  word-break: break-word;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 8px;
}

.todo-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.user_profile {
  width: 33px;
  height: 33px;
  background-color: #d3d3d3; /* Placeholder color for profile */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.todo-card-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.todo-card-edit,
.todo-card-delete {
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.2s ease;
}

.todo-card-edit {
  color: #2196f3;
}

.todo-card-edit:hover {
  color: #1976d2; 
}

.todo-card-delete {
  color: #f44336;
}

.todo-card-delete:hover {
  color: #d32f2f;
}

.input-container{
  display: flex;
  flex-direction: column;
}
.todo-card-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.input-actions{
  display: flex;
  justify-content: flex-end;
}

.input-cancel,
.input-add{
  font-size: 13px;
  font-weight: 600;
  color: #777;
  padding: 8px;
  cursor: pointer;

}

.input-cancel:hover,.input-add:hover{
  color: rgb(0, 0, 0);
}